<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.7.1" targetFramework="net461" />
  <package id="jQuery.Validation" version="1.9" targetFramework="net461" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.20710.0" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1404.0" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.Windows" version="11.0.3452" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net461" />
  <package id="Syncfusion.AspNet" version="18.2.0.45" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base" version="18.2.0.45" targetFramework="net461" />
  <package id="Syncfusion.DocIO.AspNet" version="18.2.0.45" targetFramework="net461" />
  <package id="Syncfusion.JavaScript" version="18.2.0.45" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="18.2.0.45" targetFramework="net461" />
  <package id="Syncfusion.OfficeChart.Base" version="18.2.0.45" targetFramework="net461" />
  <package id="Syncfusion.Pdf.AspNet" version="18.2.0.45" targetFramework="net461" />
  <package id="Syncfusion.Presentation.AspNet" version="18.2.0.45" targetFramework="net461" />
  <package id="Syncfusion.Web.Base" version="18.2.0.45" targetFramework="net461" />
  <package id="Syncfusion.XlsIO.AspNet" version="18.2.0.45" targetFramework="net461" />
</packages>